<div class="row-fluid">

  <div class="span12">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->

    <div class="portlet box grey">

      <div class="portlet-title">

        <div class="caption"><i class="icon-globe"></i>任务列表</div>

        <div class="tools">

          <a href="javascript:;" class="collapse"></a>

          <a href="#portlet-config" data-toggle="modal" class="config"></a>

          <a href="javascript:;" class="reload"></a>

          <a href="javascript:;" class="remove"></a>

        </div>

      </div>

      <div class="portlet-body">

        <div class="clearfix">

          <div class="btn-group">

            <button id="sample_editable_1_new" class="btn green"  data-toggle="modal" href="#stack1">

            新建任务 <i class="icon-plus"></i>

            </button>

          </div>

          <div class="btn-group pull-right">

            <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="icon-angle-down"></i>

            </button>

            <ul class="dropdown-menu pull-right">

              <li><a href="#">Print</a></li>

              <li><a href="#">Save as PDF</a></li>

              <li><a href="#">Export to Excel</a></li>

            </ul>

          </div>

        </div>

        <table class="table table-striped table-bordered table-hover" id="sample_1">

          <thead>

            <tr>

              <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
              <th class="hidden-480">ID</th>
              <th>名称</th>
              <th class="hidden-480">执行时间</th>
              <th class="hidden-480">运行次数</th>
              <th class="hidden-480">当前状态</th>

            </tr>

          </thead>

          <tbody>

            <tr class="odd gradeX">

              <td><input type="checkbox" class="checkboxes" value="1" /></td>
              <td class="hidden-480"><a >t-vob1k3w5</a></td>

              <td>下载果冻日志</td>

              <td class="hidden-480">4:45</td>

              <td class="center hidden-480">12</td>

              <td ><span class="label label-success">已完成</span></td>

            </tr>




          </tbody>

        </table>

      </div>

    </div>

    <!-- END EXAMPLE TABLE PORTLET-->

  </div>

</div>


<div id="stack1" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3>新建任务</h3>
  </div>
  <div class="modal-body">

    <form action="" class="form-horizontal">
      <div class="control-group">
        <label class="control-label">任务名称</label>
          <div class="controls">
              <input type="text" data-tabindex="1" [(ng-model)]="taskName"/>
          </div>

      </div>

      <div class="control-group">
        <label class="control-label">执行时间</label>
        <div class="controls">
            <input type="text" data-tabindex="1"  />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">username</label>
        <div class="controls">
            <input type="email" id="email" ng-control="email" [(ng-model)]="model.email" required>
        </div>
      </div>

      <div class="control-group">

        <label class="control-label">任务类型</label>

        <div class="controls">

          <select class="small m-wrap" tabindex="1">

            <option value="下载">下载</option>

            <option value="导入">导入</option>

            <option value="计算">计算</option>


          </select>

        </div>
    </form>



		</div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="button" class="btn btn-primary" (click)="addTask()">Ok</button>
  </div>
</div>



<link href="./resource/lib/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
<script src="./resource/lib/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="./resource/lib/bootstrap-modal/js/bootstrap-modal.js"></script>
