<div class="row-fluid">

  <div class="span12">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->

    <div class="portlet box grey">

      <div class="portlet-title">

        <div class="caption"><i class="icon-globe"></i>任务列表</div>

        <div class="tools">

          <a href="javascript:;" class="collapse"></a>

          <a href="#portlet-config" data-toggle="modal" class="config"></a>

          <a href="javascript:;" class="reload"></a>

          <a href="javascript:;" class="remove"></a>

        </div>

      </div>

      <div class="portlet-body">

        <div class="clearfix">

          <div class="btn-group">

            <button id="sample_editable_1_new" class="btn green">

            新建任务 <i class="icon-plus"></i>

            </button>

          </div>

          <div class="btn-group pull-right">

            <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="icon-angle-down"></i>

            </button>

            <ul class="dropdown-menu pull-right">

              <li><a href="#">Print</a></li>

              <li><a href="#">Save as PDF</a></li>

              <li><a href="#">Export to Excel</a></li>

            </ul>

          </div>

        </div>

        <table class="table table-striped table-bordered table-hover" id="sample_1">

          <thead>

            <tr>

              <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
              <th class="hidden-480">ID</th>
              <th>名称</th>
              <th class="hidden-480">执行时间</th>
              <th class="hidden-480">运行次数</th>
              <th class="hidden-480">当前状态</th>

            </tr>

          </thead>

          <tbody>

            <tr class="odd gradeX">

              <td><input type="checkbox" class="checkboxes" value="1" /></td>

              <td>下载果冻日志</td>

              <td class="hidden-480"><a href="mailto:shuxer@gmail.com">t-vob1k3w5</a></td>

              <td class="hidden-480">4:45</td>

              <td class="center hidden-480">12</td>

              <td ><span class="label label-success">已完成</span></td>

            </tr>




          </tbody>

        </table>

      </div>

    </div>

    <!-- END EXAMPLE TABLE PORTLET-->

  </div>

</div>
