<link rel="stylesheet/less" type="text/css" href="./src/components/application/application.less" />
<script src="./resource/lib/less.js" type="text/javascript"></script>
<div class="application">
  <div class="left">
    <div class="mind-map-panel">
      <folder></folder>

    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="create-panel">
        create-panel
      </div>
      <div class="define-panel">
        define-panel
      </div>
    </div>
    <div class="bottom">
      <div class="table-panel">
        <data-view></data-view>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
