<div class="portlet solid light-grey bordered">

  <div class="portlet-title">

    <div class="caption"><i class="icon-bullhorn"></i>昨日用户增长</div>

    <div class="tools">

      <div class="btn-group pull-right" data-toggle="buttons-radio">

        <a href="" class="btn blue mini active">Users</a>

        <a href="" class="btn blue mini">Orders</a>

      </div>

    </div>

  </div>

  <div class="portlet-body">

    <div id="site_activities_loading" style="display: none;">

      <img src="media/image/loading.gif" alt="loading">

    </div>

    <div id="site_activities_content" class="hide" style="display: block;">

      <div id="site_activities" style="height: 100px; padding: 0px; position: relative;"><canvas class="flot-base" width="550" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 550px; height: 100px;"></canvas><canvas class="flot-overlay" width="550" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 550px; height: 100px;"></canvas></div>

    </div>

  </div>

</div>
