
<div class="container-fluid">

  <!-- BEGIN PAGE HEADER-->

  <div class="row-fluid">

    <div class="span12">

      <!-- BEGIN STYLE CUSTOMIZER -->

      <div class="color-panel hidden-phone">

        <div class="color-mode-icons icon-color"></div>

        <div class="color-mode-icons icon-color-close" style="display: none;"></div>


      </div>

      <!-- END BEGIN STYLE CUSTOMIZER -->

      <!-- BEGIN PAGE TITLE & BREADCRUMB-->

      <h3 class="page-title">

        付费 <small>statistics and more</small>

      </h3>

      <ul class="breadcrumb">

        <li>

          <i class="icon-home"></i>

          <a href="index.html">Home</a>

          <i class="icon-angle-right"></i>

        </li>

        <li><a href="#">付费数据</a></li>

        <li class="pull-right no-text-shadow">

            <datepicker></datepicker>
        </li>

      </ul>

      <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

  </div>

  <!-- END PAGE HEADER-->





  <div id="dashboard">



    <div class="row-fluid">

      <div class="span6">
        <yesterday-pay-chart></yesterday-pay-chart>
      </div>

      <div class="span6">
        <money-add-line></money-add-line>
      </div>

    </div>

    <pay-type-line></pay-type-line>


  </div>


</div>
