<div class="page-sidebar nav-collapse collapse" style="height: 0px;">

			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search...">

							<input type="button" class="submit" value=" ">

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start active ">

					<a href="index.html">

					<i class="icon-home"></i>

					<span class="title">Dashboard</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-file-text"></i>

					<span class="title">付费分析</span>



					</a>


				</li>

				<li class="">

					<a href="javascript:;">

			  	<i class="icon-user"></i>

					<span class="title">留存分析</span>

					</a>

				</li>



			

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>
